db.sqlite3
.env
/perkantas_literatur/settings.py
/literatur/migrations/
/media/extract/
/staticfolder
.codex
.claude
.vs
cms/migrations/
cms/__pycache__/
literatur/__pycache__/
perkantas_literatur/__pycache__/