{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block mystyling %}
<style>
  .newcard:hover {
    border: 2px solid lightgrey !important;
    box-shadow: 0px 5px 0px rgba(230, 100, 100,0.5) !important;
    cursor: pointer;
  }
  .newcard2:hover {
    background-image: linear-gradient(to right,white,rgba(253, 222, 222, 0.4)) !important;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.3s;
  }

   .newcard3:hover {
    /* background-image: linear-gradient(to top,white,rgba(235, 132, 132, 0.4)) !important; */
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 10px lightgrey;
    border: 2px solid grey;
    transition-duration: 0.3s;
  }

   .newcard4:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px lightgrey;
    transition-duration: 0.3s;
    border-radius:5px
  }
</style>
{% endblock %}

{% block contents%}
    <!-- <div id="test">
      hallo
    </div>
    <button hx-get="/test/"
    hx-trigger="click delay:500ms"
    hx-target="#test"
    hx-swap="innerHTML">
      test get
      <img class="htmx-indicator" src="{% static 'images/ajax-loader.gif'%}" alt="">
    </button>
    <input type="text"
      hx-get="/test/"
      hx-target="#test"
      hx-trigger="keyup changed delay:500ms"
      placeholder="search..."
      name="q"
    > -->
    {% if feature_book %}
    <section id="billboard" class="position-relative d-flex align-items-center py-5 bg-light-gray rounded"
      style="background-image: url(images/banner-image-bg.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; height: 800px;">
      <div class="position-absolute end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next main-slider-button-next">
        <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
          <use xlink:href="#alt-arrow-right-outline"></use>
        </svg>
      </div>
      <div class="position-absolute start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev main-slider-button-prev">
        <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
          <use xlink:href="#alt-arrow-left-outline"></use>
        </svg>
      </div>

      
      <div class="swiper main-swiper">
        <div class="swiper-wrapper ">
          {% for feature in feature_book %}
          <div class="swiper-slide">
            <div class="container">
              <div class="row d-flex flex-column-reverse flex-md-row align-items-center">
                <div class="col-md-5 offset-md-1 mt-5 mt-md-0 text-center text-md-start">
                  <div class="banner-content">
                    <h2>{{feature.header}}</h2>
                    <p>{{feature.body}}</p>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="image-holder">
                    <img src="/media/extract/pdf_full/{{feature.book.id}}/1.jpg"  class="img-fluid w-75 shadow rounded"  alt="banner"  >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}  
        </div>
      </div>
    </section>
    {% endif %}  

    <section id="best-selling-items" class="position-relative padding-small shadow rounded" style="background-color:#eefcff;z-index: 0;">
      <div class="container rounded">
        <div class="section-title  text-center   mt-2  align-items-center mb-4 p-2" >
          <h2 class="text-center text-primary fw-bold ">Buku Best Seller</h2>
        </div>
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
          <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-right-outline"></use>
          </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
          <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-left-outline"></use>
          </svg>
        </div>
        <div class="swiper product-swiper container-fluid">
          <div class="swiper-wrapper  ">
          {% for book in books_best_seller %}
            {% if book.onsalebook %}  
            <div class="swiper-slide shadow" style=" min-width: 150px;">
              <div class="newcard card position-relative p-1 text-center " >
                <div style="z-index: 30;text-align: center;display:flex;justify-content:center;font-weight: bold;">
                  <p class="bg-primary rounded shadow text-white fs-6 " style="min-width: 150px;">
                    disc: {{book.onsalebook.discount|intcomma}}%
                  </p>
                </div>
                
                <div style="margin-bottom:20px;margin-top:-30px;  " class="text-center">
                  <a href="{% url 'sinopsis_buku' book.id %}">
                    <img  src="/media/extract/pdf_full/{{book.id}}/1.jpg" class="rounded border" style="width: 150px;height: 200px;"   alt="product item">
                  </a>                  
                </div>
                <h6 class="mt-4 mb-0 fw-bold text-primary" ><a title="{{book.judul}}" href="#">{{book.judul|truncatechars:18}}</a></h6>
                <div class="review-content d-flex justify-content-center ">
                  <p class="my-2 me-2 fs-6 text-black-50">{{book.pengarang|truncatechars:25}}</p>

                  
                </div>
                <span style="min-height: 60px;" class="price text-success fw-bold mb-2 fs-5"><s class="text-primary fs-6"><i>Rp.{{book.price|intcomma}}.00</i></s> Rp.{{book.onsalebook.nett_price|intcomma}} </span>
                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2"  >
                  {% if user.is_authenticated%}
                  <a type="button" href="{% url 'add_cart_list' book.id %}" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Tooltip on top">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </a>
                  {% else %}
                  <a type="button" href="{% url 'add_cart_list' book.id %}" class="btn btn-dark" data-bs-toggle="modal" data-bs-placement="top"
                    data-bs-title="Tooltip on top" data-bs-target="#exampleModal">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </a>
                  {% endif%}
                  {% if user.is_authenticated%}
                  <a href="{% url 'add_wish_list' book.id%}" class="btn btn-dark">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% else %}
                  <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% endif %}
                  <a href="{% url 'baca_buku'%}?id={{book.id}}" class="btn btn-dark">
                    <span>
                      <img src="{% static 'images/read.png'%}" style="height: 30px;width: 30px;">
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {% else %}
            <div class="swiper-slide  " style=" min-width: 150px;">
              <div class="newcard card position-relative p-1 text-center   shadow  " >
                <div style="margin-bottom:30px;  " class="text-center">
                  <a href="{% url 'sinopsis_buku' book.id %}">
                    <img  src="/media/extract/pdf_full/{{book.id}}/1.jpg" class="rounded border" style="width: 150px;height: 200px;"  alt="product item">
                  </a>                  
                </div>

                <h6 class="mt-4 mb-0 fw-bold text-primary" ><a title="{{book.judul}}" href="#">{{book.judul|truncatechars:18}}</a></h6>
                <div class="review-content d-flex justify-content-center ">
                  <p class="my-2 me-2 fs-6 text-black-50">{{book.pengarang|truncatechars:25}}</p>

                  
                </div>

                <span style="height: 60px;" class="price text-primary fw-bold mb-2 fs-5">Rp.{{book.price|intcomma}}.00</span>
                <div class="card-concern position-absolute start-0 end-0 d-flex gap-2" >
                  {% if user.is_authenticated%}
                  <a type="button" href="{% url 'add_cart_list' book.id %}" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Tooltip on top">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </a>
                  {% else %}
                  <a type="button" href="{% url 'add_cart_list' book.id %}" class="btn btn-dark" data-bs-toggle="modal" data-bs-placement="top"
                    data-bs-title="Tooltip on top" data-bs-target="#exampleModal">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </a>
                  {% endif%}
                  {% if user.is_authenticated%}
                  <a href="{% url 'add_wish_list' book.id%}" class="btn btn-dark">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% else %}
                  <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% endif %}
                  <a href="{% url 'baca_buku'%}?id={{book.id}}" class="btn btn-dark">
                    <span>
                      <span>
                        <img src="{% static 'images/read.png'%}" style="height: 30px;width: 30px;">
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="justify-content-center d-flex mt-3">
          <a href="{% url 'all_book_view'%}?k=10" class="btn  small text-white fw-bold">lihat semua <i class="fa fa-sort-desc large" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>

    {% if books_on_sale %}
    <div class=" py-3 bg-white">
        {% for book in books_on_sale %}
          {% if forloop.first%}
            <div class="row d-flex justify-content-center">
              <div class="col-2">

              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class=" px-2 d-flex justify-content-center"><img  src="/media/extract/pdf_full/{{book.book.id}}/1.jpg" class="d-block w-100 rounded border " style="height: 450px !important" alt="..."></div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-2  text-lg-start text-md-start text-sm-center text-center text-xs-center">
                <p>
                  <h2 class="text-primary">Promo Hari Ini!</h2>
                </p>
                <h3><i>{{book.header}}</i></h3>
                <h4>{{book.body}}</h4>
                <p>
                  Harga Awal: <s><span class="fw-bold">Rp.{{book.book.price|intcomma}}.00</span></s> 
                </p>
                <p>
                  Discount: <span class="fw-bold text-success">{{book.discount}}%</span>
                </p>
                <p>
                  Harga Sekarang: <span class="fw-bold text-success">Rp.{{book.nett_price|intcomma}}</span>
                </p>
                <p>
                  Promo Sampai: <span class="fw-bold">{{book.end_date|date:"j F Y"}}</span>
                </p>
                <p>
                  <a href="{% url 'all_book_view'%}?k=12" class="btn small fw-bold">Cek Promo Sekarang!</a>
                </p>
              </div>
              <div class="col-2">

              </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>

    {% endif %}

    

    <section id="items-listing" class="padding-small rounded" style="background-color:#ffeeee">
      <div class="container  p-3 rounded  text-dark">
        <div class=" fw-bold  py-4 px-2 text-center text-primary" >
          <h2>Info Buku</h2>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 ">
            <div class="featured rounded-3 border p-2 bg-white shadow" >
              <div class="section-title overflow-hidden d-flex justify-content-start align-items-center mt-2"  style="height: 70px;  ">
                <img src="{% static 'images/new.jpeg'%}" alt="">
                <h3 class="d-flex flex-column mb-0 text-dark" style="margin-left:-20px">Buku Baru </h3><hr>
              </div>
              <hr class="border border-primary">
              <div class="items-lists mt-2">
                {% for book in books%}
                <div class="item d-flex newcard2">
                  <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" class="img-fluid  rounded border" style=" min-width: 70px;min-height: 100px;" alt="product item">
                  <div class="item-content ms-3">
                    {% if book.kategori.id == 3 %}
                    <h6 class="mb-0 fw-bold"><a href="{% url 'sinopsis_buku' book.id %}" style="height: 50px;">{{book.judul}}</a></h6>
                    {% else %}
                    <h6 class="mb-0 fw-bold"><a href="{% url 'sinopsis_buku' book.id %}" style="height: 50px;">{{book.judul}}</a></h6>
                    {% endif %}
                    <div class="review-content d-flex">
                      <p class="my-2 me-2 fs-6 text-black-50">{{book.pengarang}}</p>

                      
                    </div>
                    {% if book.onsalebook.is_active %}
                    <span class="price text-primary fw-bold mb-2 fs-5"><s class="text-black-50" style="font-size: 15px;">Rp.{{book.price|intcomma}}.00</s>
                      Rp.{{book.onsalebook.nett_price|intcomma}}</span>
                    {% else %}
                      {% if book.kategori.id != 3%}
                        <span class="price text-primary fw-bold mb-2 fs-5">Rp.{{book.price|intcomma}}.00</span>
                      {% else %}
                        <span class="price text-primary fw-bold mb-2 fs-5">FREE BOOK</span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <hr class="gray-400">
                {% endfor %}
              </div>
              <div class="p-2 text-center">
                <a href="{% url 'all_book_view'%}?k=11" class="btn small">Lihat Semua <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 text-dark ">
            <div class="on-sale border rounded-3 p-2   bg-white shadow">
              <div class="section-title overflow-hidden d-flex justify-content-start align-items-center mt-2"  style="height: 70px;  ">
                <img src="{% static 'images/discount.png'%}" style="height: 80px;" alt="">
                <h3 class=" mb-0">Promo (<span class="text-primary">{{jml_on_sale}}</span>)</h3><hr>
              </div>
              <hr style="border: 1px solid lightblue; ">
              <div class="items-lists mt-2">
              {% if books_on_sale %}
                {% for books in books_on_sale%}
                <div class="item d-flex newcard2" >
                  <img src="/media/extract/pdf_full/{{books.book.id}}/1.jpg" class="img-fluid rounded border" alt="product item">
                  <div class="item-content ms-3">
                    <h6 class="mb-0 fw-bold"><a href="{% url 'sinopsis_buku' books.book.id %}" style="height: 50px;">{{books.book.judul}}</a></h6>
                    <div class="review-content d-flex">
                      <p class="my-2 me-2 fs-6 text-black-50">{{books.book.pengarang}}</p>
                      <div class="rating text-warning d-flex align-items-center">
                        
                      </div>
                    </div>
                    <span class="price text-primary fw-bold mb-2 fs-5"><s class="text-black-50" style="font-size:15px">Rp.{{books.book.price|intcomma}}.00</s>
                      Rp.{{books.nett_price|intcomma}}</span>
                  </div>
                </div>
                <hr class="gray-400">
                {% endfor %}
              {% else %}
                <div style="display: flex;justify-content: center;">
                  <img src="{% static 'images/wait.png'%}" class="shadow w-25"  alt="wait for promo">
                </div>
                <p style="text-align: center;">Ups.. sepertinya belum ada promo. <br>Nantikan promo menarik dari kami kembali yah...</p>
              {% endif%}
              </div>
              {% if books_on_sale %}
                <div class="p-2 text-center">
                  <a href="{% url 'all_book_view'%}?k=12" class="btn small">Lihat Semua <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                </div>
              {% endif%}
            </div>
          </div>
          {% if user.is_authenticated%}
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-4  ">
            <div class="latest-items  border rounded-3 p-2 bg-white " >
              <div class="section-title d-flex justify-content-start align-items-center overflow-hidden mb-4"  style="height: 70px;">
                <img src="{% static 'images/collection.png'%}" style="height: 80px;" alt="">
                <h3 class="text-dark py-3">Koleksiku (<span class="text-primary">{{jml_userbook}}</span>)</h3><hr>
              </div>
              <hr style="border: 1px solid lightblue; ">
              {% if userbook %}
                <div class="items-lists mt-1">
                  {% for book in userbook%}
                  <div class="item d-flex newcard2" style="height: 150px;">
                    <img src="/media/extract/pdf_full/{{book.id_book.id}}/1.jpg" class="img-fluid shadow-sm rounded" alt="product item" style="width: 100px;height: 180px;">
                    <div class="item-content ms-3">
                      <h6 class="mb-0 fw-bold"><a href="{% url 'sinopsis_buku' book.id_book.id }" style="height: 50px;">{{book.id_book.judul}}</a></h6>
                      <div class="review-content d-flex">
                        <p class="my-2 me-2 fs-6 text-black-50">{{book.id_book.pengarang}}</p>
                        
                      </div>
                      <a href="{% url 'baca_buku_koleksi' book.id_book.id %}" class="btn btn-success" style="height: 40px;padding:5px;min-width: 150px;max-width: 150px;">
                        <div class="d-flex justify-content-center align-items-center">
                          <img src="{% static 'images/read_koleksi.jpeg'%}" class="rounded-circle" style="height: 30px;width: 30px;margin-right: 20px;">
                          <span>Baca </span>
                        </div>
                        
                      </a>
                      
                    </div>
                  </div>
                  <hr class="gray-400">
                  {% endfor %}
                </div>
                  <div class="p-2 text-center">
                  <a href="{% url 'semua_buku_koleksi'%}" class="btn small">Lihat Semua <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                </div>
              {% else %}
                <div style="text-align: center;">
                  <p><img src="{% static 'images/empty.jpg'%}" class="w-25" alt=""></p>
                  <p>Ups.. sepertinya kaka belum memiliki koleksi... </p>
                  <p>Segera checkout 
                    <a href="{% url 'cart_view'%}">
                      <svg class="cart" style="height: 20px;width: 20px;">
                                            <use xlink:href="#cart"></use>
                      </svg>
                      keranjang
                    </a> 
                    kaka ya...
                  </p>
                </div>
              {% endif%}
            </div>
          </div>
          {% else%}
          {% endif %}
        </div>
      </div>
    </section>

    <section id="best-selling-items" class="position-relative padding-small bg-white rounded" style="z-index: 0;">
      <div class="container p-3  rounded rounded-top ">
        <div class="section-title  rounded mb-4   p-2">
          <div class="text-center d-flex justify-content-center">
            <p class=" text-primary fw-bold"><h2 class="text-primary">Buku Gratis Litanas </h2></p>
          </div>
        </div>
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next product-slider-button-next">
          <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-right-outline"></use>
          </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev product-slider-button-prev">
          <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-left-outline"></use>
          </svg>
        </div>
        <div class="swiper product-swiper">
          <div class="swiper-wrapper d-flex justify-content-center text-center">
          {% for book in free_book %}
            <div class="swiper-slide " >
              <div class="card newcard3 position-relative p-4 border shadow   rounded-3 " style="background-image:linear-gradient(to bottom,rgba(100,100,0,0.2),white) ;min-width: 200px;border:1px solid rgba(0,255,0,0.1)">
                <div  class="justify-content-center d-flex">
                  <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" class="w-100" style="border:1px solid lightgrey" alt="product item">
                </div>

                <h6 class="mt-4 mb-0 fw-bold text-center fs-5" ><a title="{{book.judul}}" href="{% url 'sinopsis_buku' book.id %}">{{book.judul|truncatechars:15}}</a></h6>
                <div class="review-content ">
                  <p class=" text-black text-center fs-6" title="oleh: {{book.pengarang}}">Oleh: {{book.pengarang|truncatechars:20}}</p>
                </div>
                <div class="card-concern position-absolute start-0 end-0 text-center gap-2" >
                  <a href="{% url 'baca_buku'%}?id={{book.id}}" class="btn btn-dark">
                    <span>
                      <span>
                        <img src="{% static 'images/read.png'%}" style="height: 30px;width: 30px;">
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <a href="{% url 'all_book_view'%}?k=3" class="btn  text-white fw-bold">lihat semua <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>

    <section id="latest-posts" class="padding-large pt-4 rounded" style="background-color: rgba(32, 206, 46, 0.1);">
      <div class="container">
        <div class="text-center pb-3">
          <h2 class=" text-primary ">Coretan Pena</h2>
        </div>
        <div class="row">
          {% for blog in blogs %}
            <div class="newcard4 col-md-3 posts mb-4  p-2" >
              <div class="bg-white border p-2 rounded text-center">
                <a href="{% url 'detail_blog' blog.id %}">
                  <img src="{{blog.image.url}}" alt="post image" class="rounded-3" style="height: 150px;width: 250px;">
                </a>
                <p class="my-2 fw-bold fs-6">{{blog.tipe}}</p>
                <h4 class="card-title mb-2 text-capitalize text-dark"><a title="{{blog.header|title}}" href="{% url 'detail_blog' blog.id %}">{{blog.header|title|truncatechars:15}}</a></h4>
                <a href="{% url 'detail_blog' blog.id %}" class="fs-6 fw-bold" style="font-style: italic;">Oleh: {{blog.author.username|title|truncatechars:15}}</a>
                <br><i><span  style="font-size: 12px;">{{blog.updated_at}}</span></i>
                
                <p style="height: 150px;" class="my-2 fs-6 text-start">{{blog.body|linebreaksbr|truncatechars:100}}<span><a href="{% url 'detail_blog' blog.id %}"><i>...</i></a></span>
                </p>
              </div>
              
            </div>
          {% endfor%}
          <!-- <div class="newcard4 col-md-3 posts mb-4">
            <img src="{% static 'images/post-item2.jpg'%}" alt="post image" class="img-fluid rounded-3">
            <a href="#" class="fs-6 text-primary">Books</a>
            <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">The Fascinating Realm of Science Fiction</a></h4>
            <p class="mb-2">Explore the intersection of technology and sustainability in our latest blog post. Learn about
              the innovative <span><a class="text-decoration-underline text-black-50" href="single-post.html">Read More</a></span> </p>
          </div>
          <div class="newcard4 col-md-3 posts mb-4">
            <img src="{% static 'images/post-item3.jpg'%}" alt="post image" class="img-fluid rounded-3">
            <a href="#" class="fs-6 text-primary">Books</a>
            <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Finding Love in the Pages of a Book</a></h4>
            <p class="mb-2">Stay ahead of the curve with our insightful look into the rapidly evolving landscape of
              wearable technology. <span><a class="text-decoration-underline text-black-50" href="single-post.html">Read More</a></span>
            </p>
          </div>
          <div class="newcard4 col-md-3 posts mb-4">
            <img src="{% static 'images/post-item4.jpg'%}" alt="post image" class="img-fluid rounded-3">
            <a href="#" class="fs-6 text-primary">Books</a>
            <h4 class="card-title mb-2 text-capitalize text-dark"><a href="single-post.html">Reading for Mental Health: How Books Can Heal and Inspire</a></h4>
            <p class="mb-2">In today's remote work environment, productivity is key. Discover the top apps and tools that
              can help you stay <span><a class="text-decoration-underline text-black-50" href="single-post.html">Read More</a></span>
            </p>
          </div> -->
        </div>
        <div class="text-center mt-4">
          <a href="{% url 'all_blogs_view'%}" class="btn">Lihat Semua <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>

    <section id="customers-reviews" class="position-relative padding-large rounded"
      style="background-image: url({% static 'images/banner-image-bg.jpg'%}); background-size: cover; background-repeat: no-repeat; background-position: center; height: 650px;margin-top:-50px;z-index: 0;">
      <div class="container offset-md-3 col-md-6 ">
        <div class="position-absolute top-50 end-0 pe-0 pe-xxl-5 me-0 me-xxl-5 swiper-next testimonial-button-next">
          <svg class="chevron-forward-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-right-outline"></use>
          </svg>
        </div>
        <div class="position-absolute top-50 start-0 ps-0 ps-xxl-5 ms-0 ms-xxl-5 swiper-prev testimonial-button-prev">
          <svg class="chevron-back-circle d-flex justify-content-center align-items-center p-2" width="80" height="80">
            <use xlink:href="#alt-arrow-left-outline"></use>
          </svg>
        </div>
          <div class="section-title mb-4 text-center">
            <h3 class="mb-4 text-primary fw-bold">Review Sahabat</h3>
          </div>
          <div class="swiper testimonial-swiper ">
            <div class="swiper-wrapper">
              {% for review in page_review %}
                <div class="swiper-slide" style="border:1px solid lightgrey !important;">              
                    <div class="card position-relative text-left p-5 border rounded-3">
                      <blockquote class="lead">"{{review.review}}"</blockquote>
                      <hr>
                      <div class="d-flex justify-content-start align-items-start">
                        <div>
                          <h5 class="mt-1 fw-bold" style="font-size: 16px;">{{review.user.userdetail.nama_lengkap}} <br><span class="text-lowercase mt-3 mb-3" style="font-size: 14px;font-weight:normal;"><i>({{review.user.username}})</i></span></h5>
                          <p style="font-size: 12px;font-style: italic;margin-top:-5px">{{review.updated_at|date:"j F Y"}}, {{review.updated_at|date:"H:i:s"}}</p>
                        </div>
                      </div>
                      
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
      </div>
    </section>

    

    <section id="instagram" class="padding-small rounded" style="background-color: rgba(229, 255, 0, 0.1)">
      <div class="container">
        <div class="text-center mb-4">
          <h2 class="text-primary">Instagram</h2>
        </div>
        <div class="row justify-content-between d-flex">
          {% for inst in instagram%}
          <div class="col-md-2 p-2 border shadow bg-white" >
            <figure class="instagram-item position-relative rounded-3">
              <a href="{{inst.link}}" class="image-link position-relative" target="_blank">
                <div class="icon-overlay position-absolute d-flex justify-content-center">
                  <svg class="instagram">
                    <use xlink:href="#instagram"></use>
                  </svg>
                </div>
                <img src="{{inst.gambar.url}}" alt="instagram" class="img-fluid  insta-image shadow" style="border-top-left-radius: 5px;border-top-right-radius: 5px;" >
              </a>
            </figure>
          </div>
          {% endfor%}
      </div>
    </section>
{% endblock%}
    