{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block styling1 %}
<style>
    .card {
        border: 1px solid lightgray;
        box-shadow: 0px 0px 5px rgba(255,120,120,0.5);
        background-color: white;
        min-width: 200px;
        max-width: 200px;
        /* min-height: 450px;
        max-height: 450px; */
        margin:20px;
        font-size: 15px;
        padding:5px;
        border-radius: 5px;
        text-align: center;
        display: block;
        justify-content: center;
    }

    .card:hover {
        border: 1px solid none;
        box-shadow: 0px 0px 10px rgb(252, 143, 143);
        cursor: pointer;
    }

    .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center
    }

    .filtering {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        min-width: 200px;
        margin: 10px;
        text-align: center;
    }

    .filtering:hover {
        border: 1px solid  rgb(255, 91, 91);
        box-shadow: 0 0 5px grey;
        background-color: white;
        cursor: pointer;
    }

    .filtering :hover {
        cursor: pointer;
    }
</style>
{% endblock%}

{% block contents%}
<div class="d-flex align-items-center justify-content-center " style="flex-wrap: wrap;">
    <div >Kategori: </div>
    <div class="filtering" style="min-width: 50px !important;">Semua</div>
    {% for cat in category%}
        <div class="filtering">
            <img src="{{cat.gambar.url}}" style="width: 20px;height: 20px;" alt="category">
            <span style="margin-left: 10px;">{{cat.nama}}</span>
        </div>
    {% endfor %}
    <div class="filtering" > <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Best Seller</div>
    </div>
</div>
<div class="list">
    {% for book in books %}
    {% if book.kategori.id == 3 %}
        <div class="card" data-bs-toggle="tooltip" title="Silakan klik baca untuk membaca buku">
            <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" style="width: 150px;height: 200px;border-radius: 5px;" alt="" >
            <hr>
            <p class="fw-bold">
                {{book.judul}}
            </p>
            <hr>
            <p class="fw-bold text-success">
                BUKU GRATIS
            </p>
            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2"  >
                  <a href="{% url 'baca_buku'%}?id={{book.id}}" class="btn btn-dark">
                    <span>
                      <img src="{% static 'images/read.png'%}" style="height: 30px;width: 30px;">
                    </span>
                  </a>
            </div>
        </div>
    {% else %}
        <div class="card" data-bs-toggle="tooltip" title="Silakan klik baca untuk melihat preview buku, dan klik membeli untuk melihat seluruh buku">
            <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" style="width: 150px;height: 200px;border-radius: 5px;" alt="" >
            <hr>
            <p class="fw-bold text-primary">
                {{book.judul}}
            </p>
            <hr>
            <p class=" fw-bold">
                {% if book.onsalebook.is_active %}
                    Harga: <span style="color: red;"><s>Rp.{{book.price|intcomma}},00</s></span> <span class="small text-success">-{{book.onsalebook.discount}}%</span>
                    <p><span style="font-weight: bold;">Nett:</span> <span style="color:green;font-weight:bold;">Rp.{{book.onsalebook.nett_price|intcomma}}</span></p>
                {% else %}
                    Harga: <span style="color:green">
                        Rp.{{book.price|intcomma}}.00
                    </span>
                {% endif%} 
            </p>
            <div class="card-concern position-absolute start-0 end-0 d-flex gap-2"  >
                  {% if user.is_authenticated%}
                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-title="Tooltip on top">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                  {% else %}
                  <button type="button" href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-placement="top"
                    data-bs-title="Tooltip on top" data-bs-target="#exampleModal">
                    <svg class="cart">
                      <use xlink:href="#cart"></use>
                    </svg>
                  </button>
                  {% endif%}
                  {% if user.is_authenticated%}
                  <a href="{% url 'add_wish_list' book.id%}" class="btn btn-dark">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% else %}
                  <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                      <svg class="wishlist">
                        <use xlink:href="#heart"></use>
                      </svg>
                    </span>
                  </a>
                  {% endif %}
                  <a href="{% url 'baca_buku'%}?id={{book.id}}" class="btn btn-dark">
                    <span>
                      <img src="{% static 'images/read.png'%}" style="height: 30px;width: 30px;">
                    </span>
                  </a>
            </div>
        </div>
    {% endif %}
    {% endfor%}
</div>
{% endblock %}