{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block styling %}
<style>
    .card {
        border: 1px solid lightgray;
        box-shadow: 0px 0px 5px rgba(255,120,120,0.5);
        background-color: white;
        min-width: 200px;
        max-width: 200px;
        /* min-height: 450px;
        max-height: 450px; */
        margin:20px;
        font-size: 15px;
        padding:5px;
        border-radius: 5px;
        text-align: center;
        display: block;
        justify-content: center;
    }

    .card:hover {
        border: 1px solid none;
        box-shadow: 0px 0px 10px rgb(252, 143, 143);
        cursor: pointer;
    }

    .list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center
    }

    .filtering {
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: white;
    }

    .filtering :hover {
        cursor: pointer;
    }
</style>
{% endblock%}

{% block contents%}
<div class="d-flex justify-content-center " >
    <div class="p-2">Kategori: </div>
    {% for cat in category%}
        <div class="filtering">
            <img src="{{cat.gambar.url}}" style="width: 20px;height: 20px;" alt="category">
            <span style="margin-left: 10px;">{{cat.nama}}</span>
        </div>
    {% endfor %}
    </div>
</div>
<div class="list">
    {% for book in books %}
    {% if book.kategori.id == 3 %}
        <div class="card" data-bs-toggle="tooltip" title="Silakan klik baca untuk membaca buku">
            <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" style="width: 150px;height: 200px;border-radius: 5px;" alt="" >
            <hr>
            <p class="fw-bold">
                {{book.judul}}
            </p>
            <hr>
            <p class="fw-bold text-success">
                BUKU GRATIS
            </p>
        </div>
    {% else %}
        <div class="card" data-bs-toggle="tooltip" title="Silakan klik baca untuk melihat preview buku, dan klik membeli untuk melihat seluruh buku">
            <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" style="width: 150px;height: 200px;border-radius: 5px;" alt="" >
            <hr>
            <p class="fw-bold text-primary">
                {{book.judul}}
            </p>
            <hr>
            <p class=" fw-bold">
                 
                {% if book.onsalebook.is_active %}
                    Harga: <span style="color: red;"><s>Rp.{{book.price|intcomma}},00</s></span> <span class="small text-success">-{{book.onsalebook.discount}}%</span>
                    <p><span style="font-weight: bold;">Nett:</span> <span style="color:green;font-weight:bold;">Rp.{{book.onsalebook.nett_price|intcomma}}</span></p>
                {% else %}
                    Harga: <span style="color:green">
                        Rp.{{book.price|intcomma}}.00
                    </span>
                {% endif%} 
            </p>
        </div>
    {% endif %}
    {% endfor%}
</div>
{% endblock %}