{% extends 'base.html'%}
{% load static %}
{% block contents %}
<div class="p-2" style="margin-bottom:20px;border: 1px solid grey">
    <h3 style="text-align: center;">{{book.judul}}</h3>
    <h4 style="text-align: center;">{{book.pengarang}}</h4>
    <h5 style="text-align: center;">=== Halaman: {{page|add:'-1'}} / {{book.halaman}} ===</h5>
</div>

<div class="d-flex justify-content-center p-3 border-1 border-black">
    <a href="?id={{book.id}}&p={{prev}}" style="width:30px;display: flex;align-items: center;justify-content: center;"><img src="{% static 'images/left.jpg'%}" style="width: 30px;height: 30px;"  alt="" srcset=""></a>
    <img src="/media/extract/pdf_full/{{book.id}}/{{page}}.jpg" class="w-75 rounded shadow" alt="">
    <a href="?id={{book.id}}&p={{next}}" style="width:30px;display: flex;align-items: center;justify-content: center;"><img src="{% static 'images/right.jpeg'%}" style="width: 30px;height: 30px;" alt="" srcset=""></a>
</div>

{% endblock%}