{% extends 'base.html'%}
{% load static %}
{% block contents %}
<div class="container  d-flex rounded justify-content-between bg-primary">
    <p class="fs-6 fw-bold text-white rounded" style="margin-top: 30px;">BUKU KOLEKSIKU</p>
    <p style="margin-top: 10px;"><a href="{% url 'semua_buku_koleksi'%}" class="btn bg-white text-dark fs-6" style="height: 50px;">Koleksiku&rarr;</a></p>
</div>
<div class="p-2" style="margin-bottom:20px;border: 1px solid lightgrey;border-radius: 5px;box-shadow: 5px 5px 5px lightgrey;">
    <h3 style="text-align: center;">{{book.judul}}</h3>
    <h4 style="text-align: center;">{{book.pengarang}}</h4>
    <h5 style="text-align: center;">[ Halaman: {{page}} / {{book.halaman}} ]</h5>
    

    <div class="justify-content-center d-flex my-3 p-2 rounded shadow">
        <a href="?p={{prev}}" style="width:30px;display: flex;align-items: center;justify-content: center;"><img src="{% static 'images/left.jpg'%}" style="margin-right: 50px;width: 30px;height: 30px;"  alt="" srcset=""></a>
        <div class="justify-content-center d-flex">
            <form action="" method="post">
                {% csrf_token %}
                
                <input style="text-align: center;" type="number" name="halaman" id="" min="1" max="{{book.halaman}}" value="{{page}}"  required>
                
            </form>
        </div>
        <a href="?p={{next}}" style="width:30px;display: flex;align-items: center;justify-content: center;"><img src="{% static 'images/right.jpeg'%}" style="margin-left:50px;width: 30px;height: 30px;" alt="" srcset=""></a>
    </div>
    
</div>

<div class=" p-3 border-1 border-black">
    
    <img src="/media/extract/pdf_full/{{book.id}}/{{page}}.jpg" class="w-100 rounded shadow" alt="">
    
</div>

{% endblock%}