{% extends 'base.html'%}
{% load static %}
{% block contents %}
<div class="container mt-3 p-2 rounded border border-primary">
    <div class="d-flex justify-content-center row">
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-3 col-xl-3 px-2 mb-3 text-center">
            <div class="container d-flex justify-content-center">
                            <img src="{{blog.image.url}}" class="w-100 rounded border shadow p-2" alt="" srcset="">
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-9 col-xl-9 ">
            <p class="h4 fw-bold">{{blog.header|title}}</p>
            <p class="h5">Oleh: {{blog.author.username|title}}</p>
            <p class="fs-6"><i>{{blog.updated_at}}</i></p>
            <hr>
            <p>{{blog.body|linebreaksbr}}</p>
        </div>
    </div>
    <div class="text-center my-3">
        <a href="{{prev}}" class="btn">&larr; Kembali</a>
    </div>
</div>
{% endblock %}