{% extends 'base.html'%}
{% load static %}
{% load humanize %}

{% block styling1 %}
<style>
    .card-cart {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        margin-top:10px;
        margin-bottom:10px
    }

    .header1 {
        font-weight: bold;
    }

    .trash1 {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block contents%}
{% if jml_mycart == 0 %}
    <div class="p-5">
        <div class="header1 text-center text-primary">
            
            <p class="text-primary h2">Belum ada buku di dalam keranjang</p>
            <p><img src="{% static 'images/shop.webp'%}" class="w-25" alt=""> </p>
        </div>
    </div>
{% else %}
    <div class="p-5">
        {% for cart in mycart%}
            <div class="card-cart row p-2">
                <div class="col-1">
                    {% if cart.is_checked %}
                        <input checked type="checkbox"  name="" id="" onclick="gotos('{{cart.book.id}}')">
                    {% else %}
                        <input type="checkbox" name="" id="" onclick="gotos('{{cart.book.id}}')">
                    {% endif %}
                </div>
                <div class="col-10 d-flex justify-content-start" >
                    <div class="row">
                        <div class="col-lg-2 col-md-3 ">
                            <img src="/media/extract/pdf_full/{{cart.book.id}}/1.jpg" class="w-100 p-2 rounded" alt="">
                        </div>
                        <div class="col-lg-10 col-md-9 p-2">
                            <p class="text-primary fw-bold h2" >{{cart.book.judul}}</p>
                            <p class="h3">{{cart.book.pengarang}}</p>
                            {% if cart.book.onsalebook.is_active %}
                            <p>Harga Rp: {{cart.book.onsalebook.nett_price|intcomma}}</p>
                            <p><i>Promo Potongan: {{cart.book.onsalebook.discount|intcomma}}%</i> - {{cart.book.onsalebook.header}}</p>
                            {% else %}
                            <p>Harga Rp: {{cart.book.price|intcomma}}.00</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <a href="{% url 'del_cart_list' cart.book.id %}">
                        <img src="{% static 'images/trash.svg'%}" class="trash1" style="width: 25px;height: 25px;"></img>
                    </a>
                </div>
            </div>    
        {% endfor %}
        <div class="header1 text-center mt-4 h3" >
            <i class="fa fa-book" aria-hidden="true"></i>
            Total Buku Dibeli: <span class="text-primary">{{jml_dibeli|intcomma}}</span> item.
        </div>
        <div class="header1 text-center mt-2 h3" >
            <i class="fa fa-money" aria-hidden="true"></i>
            Total Belanja: Rp.<span class="text-primary">{{total_payment|intcomma}}.00</span>
        </div>

        <div class="text-center">
            {% if total_payment > 0 %}
                <a href="#" class="btn btn-primary">Proses Pembayaran</a>
            {% else %}
                <button href="#" class="btn btn-primary" disabled>Proses Pembayaran</button>
            {% endif %}
        </div>
    </div>
{% endif %}

<script>
    function gotos(data) {
        location.href="/cart/change/" + data +"/";
    }
</script>

{% endblock %}