{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block contents %}
<div class="p-3 container">
    <div class="my-4">
        <p class="text-primary fw-bold text-center h2">
            <i class="fa fa-heart" aria-hidden="true"></i> Donasi <i class="fa fa-heart" aria-hidden="true"></i>
        </p>
    </div>
    <div class="mt-1 mb-1 border border-success rounded d-flex justify-content-center row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                        <img src="{% static 'images/qris.jpg'%}" class="w-75" alt="">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 p-4 text-wrap">
                        Donasi untuk mendukung Literatur Perkantas Nasional (Litanas) Online dapat  dilakukan melalui: <br>
                        <ol>
                            <li>Scan QRIS</li>
                            <li>
                                Transfer ke rekening: <br>
                                Nomor Rekening: <b class="text-primary">{{no_rekening}}</b> <br>
                                Pemilik Rekening: <b  class="text-primary">{{nama_pemilik}}</b> <br>
                                Nama Bank: <b  class="text-primary">{{nama_bank}}</b>
                            </li>
                        </ol>
                        <p>
                            Setelah transfer berhasil, silakan Upload foto bukti bayar dalam bentuk format gambar .gif, .png, .jpeg, atau .jpg 
                            kemudian kaka akan terima email konfirmasi.
                        </p>
                        <p>
                            Admin akan melakukan validasi donasi, apabila sudah valid, maka akan dikirimkan email validasi berhasil dan nama kaka akan muncul dalam daftar donatur. 
                        </p>
                        <p>Tuhan memberkati para Sahabat!</p>
                        
                    </div>
    </div>
    <div class="mt-4 border border-primary rounded">
        <div class="p-2">
            <p class="fs-4 fw-bold text-primary">Formulir Konfirmasi Donasi<hr class="border border-primary"></p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_div}}
                <p class="d-flex justify-content-center">
                    <input type="submit" class="btn p-3 my-3" value="Konfirmasi Donasi">
                </p>
            </form>
        </div>
    </div>
    <hr class="border border-primary">
    <div class="mt-4">
        <p class="h3 text-primary fw-bold">Laporan Donasi</p>
        <p><span class="text-primary fw-bold">Team Literatur Perkantas Nasional (Litanas)</span> mengucapkan terima kasih atas donasi pada bulan <span class="text-primary fw-bold">{{bulan_now}}</span>.</p>
        <p>Total Donasi terkumpul sebesar  <span class="text-primary fw-bold">Rp.{{total_now|intcomma}}.00</span>.</p>
        <p class="fw-bold text-primary fs-4">Detail Donatur:</p>
        <div class='d-none d-lg-flex'>
            <table class="table border border-primary">
                <thead >
                    <th class="bg-primary text-white fw-bold  text-start">No.</th>
                    <th class="bg-primary text-white fw-bold text-start">Nama</th>
                    <th class="bg-primary text-white fw-bold  text-start">Tanggal Approval</th>
                    <th class="bg-primary text-white fw-bold  text-center">Keterangan</th>
                    <th class="bg-primary text-white fw-bold  text-end">Nominal (Rupiah)</th>
                </thead>
                {% for don in donatur %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{don.initial|title}}</td>
                    <td>{{don.updated_at|date:"d M Y"}}</td>
                    <td>{{don.keterangan}}</td>
                    <td class="text-end fw-bold">{{don.nilai|intcomma}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
        <div class='d-flex d-lg-none'>
            <table class="table border border-primary">
                <thead >
                    <th class="bg-primary text-white fw-bold text-start">No.</th>
                    <th class="bg-primary text-white fw-bold text-center">Informasi</th>
                    <th class="bg-primary text-white fw-bold text-end">Nominal (Rupiah)</th>
                </thead>
                {% for don in donatur %}
                <tr>
                    <td style="font-size: 13px;">{{forloop.counter}}</td>
                    <td style="font-size: 13px;">
                        <ul style="list-style-type: none;">
                            <li>Nama: <span  style="font-size: 13px;font-weight: bold;">{{don.initial|title}}</span></li>
                            <li>Tanggal Konfirmasi: <span   style="font-size: 13px;font-weight: bold;">{{don.updated_at|date:"d M Y"}}</span></li>
                            <li>Keterangan: <span   style="font-size: 13px;font-weight: bold;">{{don.keterangan}}</span></li>
                        </ul>
                    </td>
                    <td class="text-end fw-bold">{{don.nilai|intcomma}}</td>
                </tr>
                {% endfor%}
            </table>
        </div>
    </div>
</div>

{% endblock%}