{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block contents %}
<div class="container py-4">
    <div class="p-4">
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <p class="h3 fw-bold mb-3">Konfirmasi Pembayaran Buku</p>
            <div class="fw-bold my-4 row">
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 fw-bold py-3">Nomor Invoice:</div>
                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9 text-primary fw-bold "><input name="nomor_invoice" type="text" readonly value="{{nomor_invoice}}" class="text-primary form-control fs-6 fw-bold"></div>
            </div>
            <p class="fw-bold rounded">
                <table class="table border border-dark">
                    <thead>
                        <th class="fw-bold">No.</th>
                        <th class="fw-bold">Buku</th>
                        <th class="fw-bold">Judul</th>
                        <th class="fw-bold">Harga</th>
                    </thead>
                    {% for cart in mycart_buy %}
                    <tr>
                        <td class="fs-6">{{forloop.counter}}</td>
                        <td><img src="/media/extract/pdf_full/{{cart.book.id}}/1.jpg" style="width: 50px;height: 80px;border-radius: 5px;" alt="{{cart.book.judul}}"></td>
                        <td class="fs-6 fw-bold text-primary">{{cart.book.judul}}</td>
                        <td class="fs-6 fw-bold text-success">
                            {% if cart.book.onsalebook.is_active %}
                                Rp.{{cart.book.onsalebook.nett_price|intcomma}}
                            {% else %}
                                Rp.{{cart.book.price|intcomma}}.00
                            {% endif %}
                        </td>
                    </tr>            
                    {% endfor%}
                </table>
                <div class="my-3 row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 fw-bold py-3">
                        Jumlah Buku Dibeli:
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9 text-primary fw-bold">
                        <input type="text" readonly value="{{jml_mycart_buy|intcomma}} Buku" class="text-primary form-control fs-6 fw-bold">                        
                    </div>
                </div>
                <div class="my-3 row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 fw-bold py-3">
                        Total Pembayaran:
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9 text-primary fw-bold">
                        <input type="text" name="total_bayar" id="" class="text-primary fw-bold form-control fs-6" readonly value="{{total_bayar|intcomma}}">
                    </div>
                </div>
                <div class="mt-1 mb-1 border border-success rounded d-flex justify-content-center row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                        <img src="{% static 'images/qris.jpg'%}" class="w-75" alt="">
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 p-4 text-wrap">
                        Pembayaran dilakukan melalui: <br>
                        <ol>
                            <li>Scan QRIS</li>
                            <li>
                                Transfer ke rekening BCA Give Thanks Production: <br>
                                Nomor Rekening: <b>{{no_rekening}}</b> <br>
                                Pemilik Rekening: <b>{{nama_pemilik}}</b> <br>
                                Nama Bank: <b>{{nama_bank}}</b>
                            </li>
                        </ol>
                        <p>
                            Setelah transfer berhasil, silakan Upload foto bukti bayar dalam bentuk format gambar .gif, .png, .jpeg, atau .jpg 
                            kemudian tunggu konfirmasi dari admin maksimal 1x24 jam. <br>
                            Untuk update status pembelian akan kami kirimkan via <a href="{% url 'list_inbox_message'%}" target="_blank">inbox message <i class="fa fa-inbox" aria-hidden="true" style="font-size: 25px;"></i></a>
                        </p>
                        
                    </div>
                </div>
                <div class="my-3 row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 fw-bold py-3">
                        Foto Bukti Transfer:
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9 text-primary fw-bold">
                        <input required  type="file" class="form-control fs-6" name="bukti_bayar" accept=".gif,.jpg,.jpeg,.png,.webp">
                    </div>
                </div>
                
                <div class="my-3 row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 fw-bold py-3">
                        <input type="submit" value="Konfirmasi Pembayaran" class="btn ">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-9 text-primary fw-bold">
                        <!-- <input type="file" class="form-control fs-6" name="bukti_bayar" accept=".gif,.jpg,.jpeg,.png,.webp"> -->
                    </div>
                </div>
            </form>
            
        </p>
        
        
    </div>
    
</div>
{% endblock %}