{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block contents %}
<div class="container my-4 p-2">
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12 bg-primary rounded p-2">
            <div class="d-flex justify-content-between align-items-center">
                {% if user.userdetail.photo %}
                <img src="{{user.userdetail.photo.url }}" class="rounded-circle border-white border" style="width: 100px;height: 100px;" alt="foto profile">
                {% else %}
                <img src="{% static 'images/profile.jpeg'%}" class="rounded-circle border-white border" style="width: 100px;height: 100px;" alt="foto profile">
                {% endif %}
                <div style="padding-left: 20px;" class="w-100 text-center">
                    <p class="fs-4 fw-bold">{{user.userdetail.nama_lengkap|title}}</p>
                    <hr>
                    <p class="fs-6 fw-bold" >
                        email: <i>{{user.username}}</i><br>
                        tanggal bergabung: {{user.date_joined|date:"j F Y"}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6 text-center col-md-12 col-sm-12 p-3 ">
            <p class=" fs-3 fw-bold border-bottom border-grey">Informasiku</p>
            <p class="fs-5 fw-bold">Jumlah Buku Koleksi: <span class="text-primary">{{user.userdetail.total_book|intcomma}}</span> buku</p>
            <p class="fs-5 fw-bold">Login Terakhir: <span class="text-primary">{{user.last_login|date:"j F Y"}}</span></p>
        </div>
    </div>
    <div class="p-3 mt-5 rounded border border-primary">
        <div class="row  fw-bold mb-3 fs-5 bg-primary p-2 rounded text-center">
            <p class="text-white fw-bold">Detail Profil</p>
        </div>
        <ul>
            <li>
                <div class="row my-2">
                    <div class="col-3">Foto Profil:</div>
                    <div class="col-2">
                        {% if user.userdetail.photo %}
                        <img src="{{user.userdetail.photo.url}}" class="w-100 rounded" alt="">
                        {% else %}
                        <img src="{% static 'images/profile.jpeg' %}" class="w-100 rounded" alt="">
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <input type="file" name="foto"  id="" class="form-control" accept=".gif,.jpg,.jpeg,.png,.webp">
                    </div>
                    <div class="col-3"><input type="submit" value="UPDATE" class="form-control rounded fs-6 p-2 btn" style="height: 30px;"></div>
                </div>        
            </li>
            <li>
                <div class="row my-2">
                    <div class="col-3">Nama Lengkap:</div>
                    <div class="col-6"><input type="text" class="form-control fs-6" name="nama_lengkap" style="height: 30px;" value="{{user.userdetail.nama_lengkap}}" placeholder="masukkan nama lengkap"></div>
                    <div class="col-3"><input type="submit" value="UPDATE" class="form-control rounded fs-6 p-2 btn" style="height: 30px;"></div>
                </div>        
            </li>
            <li>
                <div class="row my-2">
                    <div class="col-3">Tanggal Lahir:</div>
                    <div class="col-6"><input type="date" class="form-control fs-6" name="tanggal_lahir" style="height: 30px;" value="{{user.userdetail.birthday}}" placeholder="masukkan nama lengkap"></div>
                    <div class="col-3"><input type="submit" value="UPDATE" class="form-control rounded fs-6 p-2 btn" style="height: 30px;"></div>
                </div>        
            </li>
            <li>
                <div class="row my-2">
                    <div class="col-3">No. Whatsapp:</div>
                    <div class="col-6"><input type="number" class="form-control fs-6" name="nomor_whatsapp" style="height: 30px;" value="{{user.userdetail.no_whatsapp}}" placeholder="masukkan nomor whatsapp"></div>
                    <div class="col-3"><input type="submit" value="UPDATE" class="form-control rounded fs-6 p-2 btn" style="height: 30px;"></div>
                </div>        
            </li>
            <li>
                <div class="row my-2">
                    <div class="col-3">Pekerjaan:</div>
                    <div class="col-6"><input type="text" class="form-control fs-6" name="pekerjaan" style="height: 30px;" value="{{user.userdetail.pekerjaan}}" placeholder="masukkan pekerjaan"></div>
                    <div class="col-3"><input type="submit" value="UPDATE" class="form-control rounded fs-6 p-2 btn" style="height: 30px;"></div>
                </div>        
            </li>
        </ul>
    </div>
    

</div>
{% endblock %}