{% extends 'base.html'%}
{% load static %}
{% block contents %}
<div class="container mt-3 p-2 rounded border border-primary">
    <div class="h3 fw-bold text-center mb-5 mt-2">SINOPSIS BUKU</div>
    <div class="d-flex justify-content-center row">
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-3 col-xl-3 px-2 mb-3 text-center">
            <div class="container d-flex justify-content-center">
                            <img src="/media/extract/pdf_full/{{book.id}}/1.jpg" class="w-100 rounded border shadow p-2" alt="" srcset="">
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-9 col-xl-9 ">
            <p class="h4 fw-bold">{{book.judul}}</p>
            <p class="h5">ISBN: {{book.isbn}}</p>
            <p class="h5">Pengarang: {{book.pengarang}}</p>
            <hr>
            <p>{{book.sinopsis|linebreaksbr|title}}</p>
            <div class="justify-content-center py-4 d-flex" style="flex-wrap: wrap;">
                {% if user.is_authenticated %}
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                        <a href="{% url 'add_wish_list' book.id %}" class="m-2 btn btn-success" style="font-size: 12px;"><i class="fa fa-heart" aria-hidden="true"></i> wishlist</a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                        <a href="{% url 'add_cart_list' book.id %}" class="m-2 btn btn-warning" style="font-size: 12px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> keranjang</a>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
                        <a href="{% url 'baca_buku' %}?id={{book.id}}" class="m-2 btn btn-info" style="font-size: 12px;"><i class="fa fa-eye" aria-hidden="true"></i> baca buku</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'baca_buku' %}?id={{book.id}}" class="m-2 btn btn-info" style="font-size: 12px;"><i class="fa fa-eye" aria-hidden="true"></i> baca buku</a>
                    </div>
                {% endif %}                                
            </div>
        </div>
    </div>
</div>
{% endblock %}